#content5-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
}
#content5-4 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4 .mbr-article {
  color: #fff;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-b .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #000000;
}
